@import '../../../theme/variables.scss';

.project-card {
    background-color: $blanco;
    margin-top: 5px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07), 0 10px 15px 0 rgba(0, 0, 0, 0.1);

    .col-md-6 {
        @media (min-width: 768px) {
            height: 300px !important;
        }
    }

    .col-img {
        padding: 0px !important;
        background-size: cover !important;
        cursor: pointer;
        .project-title {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
            padding: 20px;
            text-align: center;
            font-family: $basker;
            color: $blanco;
            font-size: 50px;
            font-weight: bold;
        }
    }

    .project-description {
        height: calc(100% - 34px);
    }
}