<header>

  <div class="nav"> 
    <a routerLink="/" class="nav-aec-link">Campañas</a> | <a  class="nav-aec-link" data-toggle="modal" data-target="#modalFAQ">Preguntas frecuentes</a> 
  </div>

  <a routerLink="/"><img class="logo-img" src="../../../assets/images/logo.png"></a>

  <br/>

  <a routerLink="/"><div class="title"> Activá el Congreso </div></a>

  <br/>

  <div class="subtitle">Hablá con unx políticx para influir en su voto</div>

</header>


<div class="modal fade" id="modalFAQ" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <span class="q-title">¿Puedo tuitear o llamar a más de un legislador?</span>
          <div class="question">
                  Si! Claro, cuantos más tuits y llamados hagamos más cerca estamos de manejar 
                  nuestro propio Congreso.
          </div>
          
          <span class="q-title">¿Puedo insultar a lxs legisladorxs?</span>
          <div class="question">
                  Podrías, pero para que Activá el Congreso funcione y podamos 
                  influenciar las votaciones eficazmente, es clave mantener el respeto 
                  en la comunicación aun cuando puedan pensar distinto a nosotrxs. 
                  Te invitamos a discutir con responsabilidad.
          </div>
  
          <span class="q-title">¿Qué le digo al legislador cuando lo llamo?</span>
          <div class="question">
                  Lo que pensás. También escribimos algunas ideas para contribuir con esto, pero podés decir lo que quieras! Nosotros solo facilitamos la interacción.
          </div>
  
          <span class="q-title">¿Es Activá el Congreso una llamada a la desmovilización?</span>
          <div class="question">
                  No, de ninguna manera. Entendemos que muchas de las leyes y derechos que obtuvimos han sido fruto de la movilización. Aquí facilitamos tan solo una forma más de movilizarnos y activar las discusiones. 
          </div>
  
          <span class="q-title">¿Qué es Activá el Congreso?</span>
          <div class="question">
                  Activá el Congreso es una plataforma independiente. Estamos en contacto con todo el arco político, les pedimos propuestas, consejos y hasta armamos debates con ellos. Tratamos de identificar temas calientes de la agenda política, los estudiamos, analizamos y actuamos para canalizar el debate.            
          </div>
          <button type="button" class="btn btn-aec btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
