<div style="min-height:100vh">
    <!-- Header -->
    <app-header></app-header>

    <!-- Router -->
    <router-outlet id="activa"></router-outlet>

    <div class="w-100 info-strip">
        <!-- Info -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="info-title mb-4">¿Qué es Activá el Congreso?</h3>
                    <p class="info-text">
                        Activá el Congreso es otra forma de expresarnos para que nuestras demandas lleguen más claras y más fuertes a quienes toman decisiones. Activá el Congreso facilita la comunicación directa, sin intermediarxs. Es el momento de hacernos oír, aprovechando
                        todos los medios que tenemos a nuestro alcance.
                        <br>
                        <br> El primer eje que proponemos para activar es el Aborto Legal, Seguro y Gratuito. Si se discutiera en el recinto hoy, esto se jugaría voto a voto. Si estás cansadx de que no te escuchen: activá, twitteá o llamá a lxs diputadxs
                        y haceles saber lo que pensás. Hacete protagonista de esta discusión.
                        <br>
                        <br> Activá el congreso, hagamos historia.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 follow-strip">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-md-7">
                    <h4 class="follow-title mb-3">Nuestras redes</h4>
                    <a href="https://twitter.com/causas_comunes" target="_blank" class="follow-btn"><i
              class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/Causas-Comunes-449280685874685/" target="_blank" class="follow-btn f-btn"><i
              class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/causascomunes/" target="_blank" class="follow-btn"><i
              class="fab fa-instagram"></i></a>
                    <a href="mailto:causascomunesx@gmail.com" target="_blank" class="follow-btn"><i
              class="far fa-envelope"></i></a>
                </div>

                <div class="col col-12 col-md-5 newsletter">
                    <h4 class="follow-title mb-3">Nuestro newsletter</h4>
                    <form ngNoForm [formGroup]="formGroup" [hidden]="submitted">
                        <div class="news-container">
                            <input type="text" placeholder="Email" formControlName="email" class="news-input" />
                            <input type="hidden" formControlName="project" name="project" id="newsletter_project" />
                            <button type="button" class="btn btn-white btn-news" (click)="submitNewsletter()">Enviar</button>
                        </div>
                        <span class="error">{{newsletterMessage}}</span>
                    </form>
                    <h5 class="newsletter-success" [hidden]="!submitted">{{newsletterMessage}}</h5>
                </div>
            </div>
        </div>
    </div>

    <footer class="container pt-4">
        <div class="row">
            <div class="d-none d-md-block col-md-3 mb-4 h-100 align-self-center">
                <img class="final-strip-img" src="../../../assets/images/logo.png">
            </div>
            <div class="col-12 col-sm-4 col-md-3 mb-4">
                <h5>Proyectos de Ley</h5>
                <ng-template ngFor let-project [ngForOf]="projectList">
                    <project-link [project]="project"></project-link>
                </ng-template>
            </div>
            <div class="col-12 col-sm-4 col-md-3 mb-4">
                <h5>Redes</h5>
                <a href="https://twitter.com/causas_comunes" target="_blank">Twitter</a>
                <a href="https://www.facebook.com/Causas-Comunes-449280685874685/" target="_blank">Facebook</a>
                <a href="https://www.instagram.com/causascomunes/" target="_blank">Instagram</a>
            </div>
            <div class="d-md-none col-12">
                <img class="d-block mx-auto" src="../../../assets/images/logo.png">
            </div>
        </div>
    </footer>



</div>