<button class="btn btn-primary btn-aec btn-return" [routerLink]="['/']"><i class="fas fa-arrow-left"></i>&emsp;Ver todas las Causas</button>

<div class="container">

    <!-- Descripcion -->
    <div class="row desc-strip">
        <div class="col">
            <div>
                <h1 class="desc-title">{{currentProject.name || "..."}}</h1>
                <div class="desc-text" [innerHtml]="projectDescription"></div>
                <ng-template [ngIf]="currentProject.show_labels === 1">
                    <div>
                        <span class="stance-label stance-green">A Favor</span>
                        <span class="label-separator">|</span>
                        <span class="stance-label stance-red">En Contra</span>
                        <span class="label-separator">|</span>
                        <span class="stance-label stance-yellow">No Confirmado</span>
                        <span class="label-separator">|</span>
                        <span class="stance-label stance-gray">Se Abstiene</span>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<!-- Politicxs -->
<politician-slider [politiciansList]="politiciansListSlider" [project]="currentProject"></politician-slider>

<div [hidden]="currentProject.show_tally == 0" class="mt-5 w-100 separador"></div>

<div class="w-100 bg-gris-oscuro py-5" [hidden]="currentProject.show_tally == 0">
    <div class="container">
        <!-- Conteo -->
        <div class="row">
            <div class="col col-12">
                <stats [project]="currentProject" [requestFullList]="true" [politiciansList]="null"></stats>
            </div>
        </div>
    </div>
</div>

<!-- Contador -->
<tally [ammount]="currentProject.tally"></tally>

<div class="w-100 bg-gris-oscuro py-2" [hidden]="(currentProject.show_videos == 0 || currentProject.videos.length < 1) && currentProject.show_text == 0">
    <!-- Videos -->
    <video-slider [hidden]="(currentProject.show_videos == 0 || currentProject.videos.length < 1)" [project]="currentProject"></video-slider>
    <!-- Articulo -->
    <article [hidden]="currentProject.show_text == 0" [article]="currentProject.text" [image]="currentProject.image" [dir]="currentProject.dir"></article>
</div>