@import '../../../theme/variables.scss';
.desc-title {
    font-family: $basker;
    margin-bottom: 1em;
}

.desc-text {
    font-family: $lato;
    margin-top: -20px;
}

.btn-return {
    position: fixed;
    top: 20px;
    left: 108px;
    z-index: 200;
    border-radius: 4px!important;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
}