@import '../../../theme/variables.scss';

h4 {
    font-family: $basker;
    color: $blanco;
    font-size: 2em;
    font-weight: 600;
}
.underline {
    text-decoration: none;
    position: relative;
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4px;
        height: 3px;
        content: " ";
        background: $violeta-claro;
    }
}