<div class="w-100 bg-verde">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="pt-5 pb-5">Ya activamos el congreso <span class="underline">{{ammount}} veces</span></h4>
            </div>
        </div>
    </div>
</div>