@import '../../../theme/variables.scss';
.politician-card {
    height: calc(100% - 28px);
    border-radius: 7px;
    min-height: 500px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-image-container {
    min-width: 100%;
    min-height: 250px;
    background-color: #cdcdcd;
}

.img-card-top {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.AFavor {
    border-top: 6px solid $aFavor;
}

.EnContra {
    border-top: 6px solid $enContra;
}

.NoConfirmado {
    border-top: 6px solid $noConfirmado;
}

.SeAbstiene {
    border-top: 6px solid $seAbstiene;
}

.title {
    display: block;
    text-align: center;
    font-family: $lato;
    font-size: 25px;
    color: #474747;
}

.subtitle {
    display: block;
    text-align: center;
    font-family: $lato;
    font-size: 18px;
    color: #666666;
}

.contact-button {
    width: 100%;
    background: transparent;
    border: 2px solid $verde;
    font-family: $lato;
    color: $verde;
    margin-top: 5px;
}

.contact-button:hover {
    background-color: $verde;
    color: $blanco;
    cursor: pointer;
}

.close {
    margin-top: -20px;
    margin-right: -15px;
}

.modal-content {
    border-radius: 0px;
    padding: 15px;
    color: $gris-texto;
}

.example-message {
    border: 1px solid #666666;
    background: #f3f3f3;
    font-size: 20px;
    font-family: $lato;
    font-style: italic;
}

.card-body {
    height: calc(100% - 250px);
}

.button-container {
    button:first-child {
        margin-top: 1.25rem;
    }
}

.modal-footer {
    padding-bottom: 0px !important;
}

.btn-center {
    margin: auto;
}