<ng-template [ngIf]="highlightedProjectExists">

    <div class="container">

        <!-- Descripcion -->
        <div class="row desc-strip">
            <div class="col">
                <div>
                    <h1 class="desc-title">{{highlightedProject.name || "..."}}</h1>
                    <div class="desc-text" [innerHtml]="projectDescription"></div>
                    <ng-template [ngIf]="highlightedProject.show_labels === 1">
                        <div>
                            <span class="stance-label stance-green">A Favor</span>
                            <span class="label-separator">|</span>
                            <span class="stance-label stance-red">En Contra</span>
                            <span class="label-separator">|</span>
                            <span class="stance-label stance-yellow">No Confirmado</span>
                            <span class="label-separator">|</span>
                            <span class="stance-label stance-gray">Se Abstiene</span>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <politician-slider [politiciansList]="politiciansList" [project]="highlightedProject"></politician-slider>

    <div class="mt-5 w-100 separador"></div>
</ng-template>

<div class="w-100 bg-gris-oscuro">
    <div class="container">
        <!-- Proyectos -->
        <div class="row">
            <div class="col py-4">
                <h2 class="title">Los proyectos de ley</h2>
                <h4 class="subtitle">Ingresa para empezar a activar el congreso</h4>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 mb-4">
                <ng-template ngFor let-p [ngForOf]="projectList">
                    <project-card [project]="p"></project-card>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<!-- Contador -->
<tally [ammount]="tally"></tally>