@import '../../../theme/variables.scss';

.title {
    color: $gris-texto;
    font-size: 35px;
    margin-top: 15px;
}

.subtitle {
    color: $gris-texto;
    font-family: $lato;
    font-weight: lighter;
}