@import '../../../theme/variables.scss';


.scroller-horizontal-container {
    width: 100%;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
    z-index: 1;
    padding: 0 15px;
    @media (min-width: 768px) {
        padding: 0 80px;
    }
    @media (min-width: 992px) {
        padding: 0 100px;
    }
}

.scrolling-wrapper-flexbox politician-card:last-child {
    margin-left: 100px;
}

.slider {
    position: relative;
    margin: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    width: 100%;

    .handle {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        z-index: 20;
        width: 60px;
        @media (min-width: 992px) {
            width: 80px;
        }
        text-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        color: #fff;
        background: transparent;

        @media (max-width: 767.98px){
            display: none;
            width: 0;
        }
    }

}


.indicator-icon {
    position: absolute;
    font-weight: bolder;
    top: 50%;
    font-size: 3em;
    width: 60px;
    height: 60px;
    line-height: 60px;
    @media (min-width: 992px) {
        font-size: 4em;
        width: 80px;
        height: 80px;
        line-height: 80px;
    }
    transform: perspective(1px) translateY(-50%);
    cursor: pointer;
    background-color: $verde;
}

.slider .handle.handleNext {
    right: 0;
}

.slider .handle.handlePrev {
    left: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider-container {
    background-color: #fff;
    padding-bottom: 80px;
}
