/* Fonts */

$basker: 'Libre Baskerville',
serif;
$lato: 'Lato',
sans-serif;

/* Colors */

$blanco: #FFFFFF;
$negro: #1A1A1A;
$verde: #009295;
$gris: #fbfbfb;
$gris-oscuro: #ededed;
$gris-thumbnail: #999;
$violeta: #44235a;
$violeta-claro: #832abb;
$gris-texto: #888;
$gris-texto-claro: #BBB;

/* Colors diputadxs */

$aFavor: #659b22;
$enContra: #cf2d2d;
$sinDefinir: #ffac24;
$noConfirmado: #ffac24;
$seAbstiene: #909090;